.footer{
  width: 100%;
  padding: 6rem 0;
  background-color: rgba(19, 19, 19, 0.8);
  margin-top: 72px;
}

.container{
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
}

.left{
  height: var(--height-cn);
  max-width: var(--width-cn);
  display: var(--display);
  flex-direction: var(--flex-direction);
  padding: var(--padding-cn);
}

.location{
  display: flex;
  margin-bottom: 0.8rem;
  
}

.right{
  height: var(--height-cn);
  max-width: var(--width-cn);
  display: var(--display);
  flex-direction: var(--flex-direction);
  padding: var(--padding-cn);
}

.socials{
  margin-top: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    
  }

}
